/* Large devices (desktops, 1200px and up) */
@media (max-width: 1201px) {
  /* Styles for ≤ 1200px */

  .dynamic-page .content{
    width:60% !important;
  }

  .main-section h3{
    font-size: 30px;
  }
  .main-section p{
    font-size: 16px;
  }

  .sub-section h4{
    font-size: 23px;
  }

  .other span{
    font-size: 16px;
  }

  .other img{
    width: 20px;
    height: 20px;
  }

  .sub-section p{
    font-size: 16px;
  }
  .gallery h5{
    font-size: 35px;
  }

  .sidebar .list li{
    font-size: 16px;
    padding: 18px 16px;
  }

  .download{
    padding: 30px 20px;
  }

  .download button{
    padding: 20px 25px;
  }

  .gettouch-box{
    padding: 40px 20px;
  }

  .form form{
    padding: 65px;
  }

  .gettouch-box button{
    padding: 20px 25px;
  }

  .info-section .icon svg{
    width: 30px;
    height: 30px;
  }

  .info-section >svg{
    height: 150px !important;
  }

  .global .head p {
    font-size: 18px;
  }

  .network li .nav-link{
    font-size: 16px;
  }
  .global .accordion-header .tag{
    font-size: 12px;
    width: 170px;
  }
  .global .accordion-body p{
    font-size: 16px;
  }
  .global .accordion-button{
    font-size: 18px;
  }
  .services .overlay .content{
    width: 75%;
  }
  .hero.services .content h1{
    font-size: 40px;
  }

  .hero.services .content p{
    font-size: 18px;
  }
  .overlay .content h1{
    font-size: 45px;
  }
  .overlay .content p{
    font-size: 20px;
  }

  .main-btn, .normal-btn{
    font-size: 16px;
    padding: 14px 20px;
  }

  .sub-heading h3{
    font-size: 35px;
  }

  .sub-heading p{
    font-size: 16px;
  }

  .text-box{
    padding: 14px 20px;
  }

  .home-card h4{
    font-size: 16px;
  }

  .home-card p{
    font-size: 14px;
  }

  .sec-btn{
    font-size: 16px;
    padding: 14px 20px;
  }

  .process-card p{
    font-size: 12px;
  }

  .heading{
    font-size: 40px;
  }

  .block .num{
    font-size: 40px;
  }

  .bottom-footer .main p{
    font-size: 14px;
  }

  .links h4{
    font-size: 16px;
  }
  .links li a , .links p{
    font-size: 14px;
  }

  .links button{
    font-size: 14px;
    padding: 14px 20px;
  }


}

/* Medium devices (large tablets and small laptops, 992px and up) */
@media (max-width: 992px) {
  /* Styles for ≤ 992px */

  .form form{
    padding: 55px 45px;
  }
      .dynamic-page .content {
        width: 75% !important;
    }

  .home-card.service {
    min-height: 240px;
}

.services .overlay .content{
    width: 85%;
  }

   .info-section >svg{
    height: 125px !important;
  }

  .global .head p {
      font-size: 16px;
      width: 100% !important;
    }
    .network li .nav-link {
        font-size: 14px;
        font-weight: 500;
    }    
    .global .accordion-button {
        font-size: 16px;
    }
        .global .accordion-body p {
        font-size: 14px;
    }

        .global .accordion-header .tag {
        font-size: 10px;
        width: 155px;
    }
    .network .nav-pills .nav-link.active, .network .nav-pills .show>.nav-link{
      font-size: 14px;
      font-weight: 500;
    }

  .services .discover{
    bottom: -20px;
  }
  .swiper-button-prev-custom , .swiper-button-next-custom{
    width:30px !important;
    height: 30px !important;
  
  }

  .hero.services .content h1 {
      font-size: 35px;
  }

  .slider-card{
    padding: 24px 20px !important;
  }
  .choose-card h4 {
    font-size: 20px;
  }

  .choose-card p{
    font-size: 15px;
  }

  .choose-card .num{
    font-size: 20px;
  }

  .apart .service-card{
    min-height: 250px;
    padding: 30px 20px;
  }

  .overlay .content{
    width: 75%;
  }
.overlay .content h1 {
  font-size: 42px; /* 45 - 3 */
}

.overlay .content p {
  font-size: 17px; /* 20 - 3 */
}

    .main-btn, .normal-btn {
        font-size: 13px;
        padding: 14px 10px;
    }
    .home-card{
        padding: 20px;
    }

.sub-heading h3 {
  font-size: 32px; /* 35 - 3 */
}

.sub-heading p {
  font-size: 13px; /* 16 - 3 */
}

.text-box {
  padding: 14px 20px; /* unchanged */
}

.home-card h4 {
  font-size: 15px; /* 16 - 3 */
}

.home-card p {
  font-size: 13px; /* 14 - 3 */
}

.sec-btn {
  font-size: 13px; /* 16 - 3 */
  padding: 14px 20px; /* unchanged */
}

    .process-card p {
        font-size: 15px;
    }

.heading {
  font-size: 35px; /* 40 - 3 */
}

    .block .num {
        font-size: 35px;
    }

.bottom-footer .main p {
  font-size: 11px; /* 14 - 3 */
}

.block .text{
  font-size: 15px;
}

.links h4 {
  font-size: 13px; /* 16 - 3 */
}

.links li a, .links p {
  font-size: 11px; /* 14 - 3 */
}

    .links button {
        font-size: 14px;
        padding: 12px 18px;
    }


    .who-serve .service-card{
      padding: 30px 20px;
    }


}

/* Small devices (tablets, 767px and up) */
@media (max-width: 767px) {
  /* Styles for ≤ 767px */

    .form form{
    padding: 35px;
  }

  .dynamic-page .content {
    width: 85%!important;
  }

      .download button {
        padding: 18px 20px;
        font-size: 16px;
    }
  
    .gettouch-box button{
       padding: 18px 20px;
        font-size: 16px;
    }

    .main-section h3{
      font-size: 25px;
    }
    .main-section p {
        font-size: 14px;
    }

        .sub-section h4 {
        font-size: 20px;
    }

        .gallery h5 {
        font-size: 30px;
    }
  form{
    transform: translateY(-45%) !important;
}

.padding{
    padding-top: 470px !important;
}

.global.default-padding{
  padding: 80px 100px;
}

.global .container{
  padding: 0;
  margin: 0;
}

.network li .nav-link{
  padding-inline: 10px;
  font-size: 12px;
}

  .global .accordion-header .tag {
     width: 162px;
    }

.network .nav-pills .nav-link.active, .network .nav-pills .show>.nav-link{
  font-size: 12px;

}

  .info-section >svg{
    height: 96px !important;
  }

  .service-card p{
    font-size: 13px;
  }
      .who-serve .service-card {
        padding: 0px 20px;
    }

    .who-serve .service-card {
    min-height: 240px;
  }
  .info{
    flex-wrap: wrap;
  }

  .apart .service-card{
    min-height: 200px;
    padding: 30px 25px;
  }

  .process .row>div{
    display: flex;
    justify-content: center;
    align-items: center;
  }
 .process-card{
    max-width: 300px;
  }

  .overlay .content h1 {
  font-size: 35px; /* 45 - 3 */
}

.overlay .content p {
  font-size: 17px; /* 20 - 3 */
}

.main-btn, .normal-btn {
  font-size: 13px; /* 16 - 3 */
  padding: 14px 20px; /* unchanged */
}

.sub-heading h3 {
  font-size: 32px; /* 35 - 3 */
}

.sub-heading p {
  font-size: 13px; /* 16 - 3 */
}

.text-box {
  padding: 14px 20px; /* unchanged */
}

    .home-card h4 {
        font-size: 16px;
    }

    .home-card p {
        font-size: 14px;
    }

.sec-btn {
  font-size: 13px; /* 16 - 3 */
  padding: 14px 20px; /* unchanged */
}

    .process-card p {
        font-size: 16px;
    }

    .heading {
        font-size: 32px;
    }

.block .num {
        font-size: 28px;
    }

        .block .text {
        font-size: 12px;
    }

    .bottom-footer .main p {
        font-size: 15px;
    }
.links h4 {
  font-size: 13px; /* 16 - 3 */
}

    .links li a, .links p {
        font-size: 15px;
    }

.links button {
        font-size: 11px;
        padding: 10px 15px;
    }

.statics {
    gap: 20px;
}

.top-footer {
    background: #444;
    padding: 80px 100px
}

}

/* Extra small devices (phones, 575px and up) */
@media (max-width: 575px) {
  /* Styles for ≤ 575px */
    .dynamic-page .content {
        width: 100% !important;
    }
.related{
  flex-wrap: wrap;
}
    .other h5{
      font-size: 20px;
    }

        .sub-section p {
        font-size: 14px;
    }

  .gettouch .overlay .content p{
    width: 90% !important;
  }

  .hero.services .content h1 {
        font-size: 30px;
    }

    .form form label{
        font-size: 14px;
    }

    .form form .notice{
        font-size: 14px;
    }

    .form form button{
        font-size: 14px;
    }

    .info-section >svg {
        height: 72px !important;
    }

    .global .head p {
        font-size: 14px;
    }

    .info-section .link .btn-light{
      font-size: 12px;
    }

    .info-card{
      gap:20px !important;
    }

    .global.default-padding {
        padding: 80px 60px;
    }

    .global .accordion-button {
        font-size: 14px;
    }
    .global .accordion-item{
      padding: 16px 20px;
    }

    .global .accordion-header .tag {
        width: 175px;
    }

    .global .accordion-body p {
        font-size: 12px;
    }

  .hero.services .content p {
        font-size: 15px ;
    }

    .slider-card h5{
      font-size: 13px !important;
    }

    .slider-card {
        padding: 20px 10px !important;
        height: auto !important;
    }

        .who-serve .service-card {
        min-height: 200px;
    }
  .navbar-brand img{
    width: 170px;
  }

      .overlay .content {
        width: 100%;
    }


.overlay .content p {
  font-size: 20px; /* 20 - 3 */
}

.main-btn, .normal-btn {
  font-size: 13px; /* 16 - 3 */
  padding: 12px 15px; /* unchanged */
}

.sub-heading h3 {
  font-size: 32px; /* 35 - 3 */
}

.default-padding{
    padding: 80px 100px;
}

.sub-heading p {
  font-size: 15px; /* 16 - 3 */
}

    .text-box {
        padding: 14px 16px;
        font-size: 12px;
    }

.sec-btn {
  font-size: 13px; /* 16 - 3 */
  padding: 14px 20px; /* unchanged */
}

    .top-footer {
        background: #444;
        padding: 80px 70px;
    }

    .bottom-footer{
        padding: 80px 70px;
    }

    .heading {
        font-size: 30px;
    }

    .block .num {
        font-size: 25px;
    }

    .links h4 {
       margin-bottom: 10px !important;
               font-size: 16px;
    }
.copyright{
    flex-wrap: wrap;
}

}

/* Very small devices (extra small phones, 445px and up) */
@media (max-width: 445px) {
  /* Styles for ≤ 445px */

  .block-padding{
    padding-block: 60px;
  }
  .navbar{
    padding-block: 0 !important;
  }
    .navbar-brand img{
    width: 150px;

  }
    .main-section h3 {
        font-size: 20px;
    }

        .gallery h5 {
        font-size: 25px;
    }
  .global-icon{
    display: none;
  }

      .padding {
        padding-top: 500px !important;
    }
    .info-section >svg {
        height: 47px !important;
    }

  .services .discover{
    padding-inline: 0px !important;
  }

  .info-card {
    gap: 15px !important;
  }
  .global .head p {
    font-size: 12px;
  }

      .global.default-padding {
        padding: 80px 40px;
    }

    .network svg{
      width: 20px;
      height: 20px;
    }

    .network li .nav-link {
        padding-inline: 5px;
        font-size: 10px;
    }
    .global .accordion-button {
        font-size: 12px;
    }

    .global .accordion-header .tag{
      padding: 8px 0px;
    }
    .network .nav-pills .nav-link.active, .network .nav-pills .show>.nav-link {
      font-size: 10px;
    }

  .info-card h5{
    font-size: 18px;
  }

  .info-card p{
    font-size: 14px;
  }

  .overlay .content h1 {
        font-size: 30px;
    }

      .overlay .content {
        width: 100%;
    }

    .overlay .content p {
        font-size: 15px;
    }

.main-btn, .normal-btn {
  font-size: 13px; /* 16 - 3 */
  padding: 12px 15px; /* unchanged */
}

    .sub-heading h3 {
        font-size: 30px;
    }

    .default-padding {
        padding: 80px 50px;
    }

.sub-heading p {
  font-size: 15px; /* 16 - 3 */
}

    .text-box {
        padding: 14px 16px;
        font-size: 12px;
    }

.sec-btn {
  font-size: 13px; /* 16 - 3 */
  padding: 14px 20px; /* unchanged */
}

.top-footer {
        background: #444;
        padding: 60px 50px;
    }

    

    .bottom-footer{
        padding: 60px 50px;
    }

      .heading {
        font-size: 25px;
    }

      .block .num {
        font-size: 20px;
    }

        .block .text {
        font-size: 10px;
    }

    .links h4 {
       margin-bottom: 10px !important;
    font-size: 16px;
    }
.copyright{
    flex-wrap: wrap;
}
}

/* Tiny devices (e.g., very old phones, 320px and up) */
@media (max-width: 361px) {
  /* Styles for ≤ 320px */

  .hero.services .content h1 {
        font-size: 25px;
    }

    .hero.services .content p {
        font-size: 12px;
    }

  .overlay .content h1 {
        font-size: 27px;
    }
    .form form {
        padding: 30px;
    }

    .form form input::placeholder , .form form textarea::placeholder{
        font-size: 12px;
    }
    .form form .notice {
        font-size: 12px;
    }

    .form form button {
        font-size: 12px;
        padding: 10px;
    }

    .info-section .link .btn-light{
      padding: 10px 15px;
    }

        .info-section >svg {
        height: 46px !important;
    }

        .global .accordion-header .tag {
        padding: 8px;
    }
  
    .services .discover{
      padding-inline: 0px !important;
    }

    .who-serve .service-card{
      padding: 20px 20px;
    }



    .overlay .content p {
        font-size: 14px;
    }

.main-btn, .normal-btn {
  font-size: 13px; /* 16 - 3 */
  padding: 14px ; /* unchanged */
}

    .sub-heading h3 {
        font-size: 24px;
    }


.sub-heading p {
  font-size: 15px; /* 16 - 3 */
}

   .text-box {
        padding: 14px;
        font-size: 10px;
    }

.sec-btn {
  font-size: 13px; /* 16 - 3 */
  padding: 14px ; /* unchanged */
}
.btns{
    flex-wrap: wrap;
}
.top-footer {
        background: #444;
        padding: 60px 40px;
    }

    .statics{
        flex-wrap: wrap;
        gap: 15px;
    }

    .bottom-footer{
        padding: 60px 40px;
    }
    .bottom-footer .main p {
        font-size: 14px;
    }
      .heading {
        font-size: 20px;
    }

      .block .num {
        font-size: 20px;
    }

        .block .text {
        font-size: 10px;
    }

    .links h4 {
       margin-bottom: 10px !important;
    font-size: 14px;
    }

        .links li a, .links p {
        font-size: 12px;
        }

     .links button {
        font-size: 11px;
        padding: 10px ;
    }
}
